<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@book, local:true do |f| %>
  <div class="field">
    <%= f.label :title %>  <!--ラベル機能（タグ付け）-->
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>  <!--ラベル機能（タグ付け）-->
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Book' %> <!--books#update、PATCHメソッドへ-->
  </div>
  <span><%= link_to "Show", book_path(@book.id) %></span>  <!--名前付きルート「as:'book'」→books#show→show.html.erb-->
  <span>|</span>
  <span><%= link_to "Back", books_path %></span>  <!--名前付きルート「as:'books'」→books#index→index.html.erb-->
<% end %>