<h1></h1>

<h2>New book</h2>　<!--新規投稿フォーム（books#new）-->
<%= form_with model:@book, url:'/books', local:true do |f| %>
  <%= f.label :title %>  <!--ラベル機能（タグ付け）-->
  <%= f.text_field :title %>
  <%= f.label :body %>  <!--ラベル機能（タグ付け）-->
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %> <!--books#createへ-->
<% end %>